Applications/
Desktop/
Documents/
Downloads/
Dropbox (Spreedly)/
Library/
Movies/
Music/
Pictures/
Public/
.CFUserTextEncoding
.DS_Store
.ansible-playbook-commands.log
.ansible.cfg
.ansible/
.ansible_galaxy
.asdf/
.aws/
.aws_sftp/
.awsume/
.bash_history
.bash_sessions/
.bundle/
.cache/
.config/
.cups/
.docker/
.dropbox/
.emacs.d/
.esd_auth
.gcalcli_oauth
.geeknote/
.gem/
.gnupg/
.httpie/
.inspec/
.jira.d/
.kube/
.lesshst
.local/
.lpass/
.minikube/
.op/
.packer.d/
.profile_work
.rbenv/
.ssh/
.swm
.swn
.swo
*.swp
.swt/
.terraform.d/
.tmux/
.vagrant.d/
.vim/
.viminfo
.vscode
Brewfile
repos/
tmp/
