# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = David James
	email = djames@spreedly.com
[credential]
	helper = osxkeychain
[pull]
	ff = only
[commit]
	template = ~/.gitcommitmessage.txt
